###
# #%L
# Measure velocities of moving structures in an image time series.
# %%
# Copyright (C) 2004 - 2017 Fiji development team
# %%
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
# 
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public
# License along with this program.  If not, see
# <http://www.gnu.org/licenses/gpl-3.0.html>.
# #L%
###

# Multi Kymograph

# Author: Jens Rietdorf & Arne Seitz

Analyze>Multi Kymograph, "Multi Kymograph", sc.fiji.multiKymograph.MultipleKymograph_
Analyze>Multi Kymograph, "Multi Overlay", sc.fiji.multiKymograph.MultipleOverlay_
Analyze>Multi Kymograph, "Stack Difference", sc.fiji.multiKymograph.StackDifference_
Analyze>Multi Kymograph, "Walking Average", sc.fiji.multiKymograph.WalkingAverage_
