# Multi Kymograph

# Author: Jens Rietdorf & Arne Seitz

Analyze>Multi Kymograph, "Multi Kymograph", sc.fiji.multiKymograph.MultipleKymograph_
Analyze>Multi Kymograph, "Multi Overlay", sc.fiji.multiKymograph.MultipleOverlay_
Analyze>Multi Kymograph, "Stack Difference", sc.fiji.multiKymograph.StackDifference_
Analyze>Multi Kymograph, "Walking Average", sc.fiji.multiKymograph.WalkingAverage_
